/* colour palette */
:root {
    --nav-color: rgb(75, 75, 75);
    --text-color: rgb(56, 56, 56);
    --box-color: rgba(192, 222, 227, 0.875);
    --background-color: rgb(220, 220, 220);
    --box-outline-color: rgb(125, 178, 187);
    --box-highlight-color: rgba(152, 235, 249, 0.567);
    --main-text-color: rgb(69, 111, 118);
  }

/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
  color:var(--text-color);
  background-color: var(--background-color);
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

h2 {
  font-size: 18pt;
}

h1, h2, h3 {
  color: var(--main-text-color);
}

p {
  color: var(--main-text-color);
}

/* Navigation bar styles ============= */
#mainNav {
  background-color: var(--nav-color) !important;
  transition: all 0.5s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  position: fixed;
  width: 100%;
  z-index: 10;
  font-size: 14pt;

}

.navbar-brand{
  color:var(--nav-color);
  background-color: var(--box-color);
  padding: 1%;
  font-size: 18pt;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}


.nav-item {
  margin: 0px 15px;
}

.nav-item a {
  color: var(--box-color) ;
  text-decoration: underline;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: var(--nav-color);
  background-color: var(--box-color);
} 

/* Hero section ============= */

.header-content {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: var(--text-color);
  background-image: url("/assets/images/hero-banner.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  height:250px;
}

.hero h1 {
  color: var(--text-color);
  background-color: var(--box-color);
  float:right;
  font-size: 16pt;
}

/* About Me section ============= */

#photo-of-me {
  max-width: 15%;
  float: right;
}

.btn {
  color:white;
  background-color: var(--box-outline-color);
  border-color: var(--main-text-color);
}

.btn:hover {
  background-color:rgb(66, 109, 117);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Work section ============= */

.container {
  padding:0pt;
  padding: 1%;
}

#large-image-container {
  height: 300px;
  width: auto; 
  overflow: hidden; 
}

#large-image-container img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  margin-left: 10%;
}

.image-container {
  height: 200px;
  width: auto; 
  overflow: hidden; 
}

.image-container img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.card {
  margin-right:0px !important;
}

.card-body h1 {
  font-size: 20pt;
}

/* Skills section */
#skills-section .card {
  color: var(--main-text-color);
}

h3 {
  font-size: 16pt;
}

/* Contact Me section */
.contact-me-content {
  margin-left:10%;
  font-size: 14pt;
}

.contact-me-content ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.contact-me-content ul li {
  margin-right: 10%;
}

.contact-me-content ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  padding: 10px;
  transition: background-color 0.5s, color 0.5s;
}

.contact-me-content ul li a:hover {
  color: white;
  background-color: var(--main-text-color);
}

/* Footer section */
#footer-section {
  text-align: center;
}
